# Some Linux distros don't allow non root users write access to
# the orblink usb device by default. Copy this file to
# /etc/udev/rules.d/99-orblink.rules to instruct udev to
# create the orblink device as writable by all users. 
ATTR{idVendor}==”16c0", ATTR{idProduct}==”05df”, MODE=”0666"
